# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.env
.venv
db.sqlite3
media/
static_cdn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/app/src/main/res/values/strings.xml
android/local.properties
android/key.properties
android/.gradle/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/
error_log.txt

# OS-specific
Thumbs.db
Desktop.ini
